@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
   background-color: purple;
}

#nav {
    background-color: rgb(222, 184, 135);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav h1 {
    font-size: 3vw;
    font-family: Kdam Thmor Pro;
    transition: ease 0.5s;
}

#nav h1:hover {
    font-size: 3.2vw;
    border-bottom: solid rgb(0, 0, 0) 0.5vw;
}
#fbox1 {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#btn1 {
    font-size: 3vw;
    margin-top: 25vh;
}
#foto {
    width: 15vw;
}
#res2 {
    font-size: 3vw;
}